@import "tailwindcss";

@source "../../../templates/";
@source "../../../accounts/templates/";
@source "../../../appointments/templates/";
@source "../../../medications/templates/";

@theme {
    --font-sans: "Vazirmatn", "Tahoma", ui-sans-serif, system-ui, sans-serif;
    --color-primary: #4e598c;
    --color-accent: #f9c784;
}

@layer base {
    html {
        direction: rtl;
    }
}
